<div class="container-fluid">
    <div>
        <img src="/assets/img/users.png" id="icon" alt="User Icon" />
    </div>
    <form class="mt-4 mb-2" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <div *ngIf="!submitted">
            <input type="text" #mobile="ngModel" [(ngModel)]="userService.selectedUser.mobile" name="mobile"
                placeholder="Mobile Number" minlength="13" required [pattern]="mobileRegex"
                [ngClass]="{'invalid-textbox' :signUpForm.submitted && !mobile.valid }">
            <div *ngIf="signUpForm.submitted && mobile.errors">
                <label *ngIf="mobile.errors.required" class="validation-message">This field is required.</label>
                <label *ngIf="mobile.errors.pattern" class="validation-message">Invalid mobile Number</label>
            </div>
            <button type="submit" value="Sign Up" class="btn btn-primary btn-block otp" (onClick)='generateOTP()'>Send
                OTP</button>
        </div>
    </form>
    <form>
        <div class="mb-2" *ngIf="submitted">
            <hr>
            <div>
                <h4 class="bgsuccess ">We’ve sent an OTP to the mobile number {{mobileNumber}}. Please enter it to complete verification</h4>
            </div>
            <br>
            <div class="form-group">
                <label for="otp">
                    <h4>Enter OTP</h4>
                </label>
                <input type="text" name="otp" [(ngModel)]="otp" class="ng-untouched ng-pristine ng-invalid">
            </div>
            <button class="btn btn-secondary btn-block otp">Submit</button>
        </div>
    </form>


    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
        Saved successfully
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>
</div>