<div class="wrapper">
  <div id="formContent">
    <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover"  routerLink="/signup"  routerLinkActive="active">Sign Up </h2>
    <h2 class="underlineHover"  routerLink="/phone-login"  routerLinkActive="active">Phone-SignUp </h2>
    <router-outlet></router-outlet>
  </div>
</div>