<div>
  <img src="/assets/img/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName"
    placeholder="Full Name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>

  <input type="text" #mobile="ngModel" [(ngModel)]="userService.selectedUser.mobile" name="mobile"
    placeholder="Mobile Number" minlength="13" required [pattern]="mobileRegex"
    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !mobile.valid }">
  <div *ngIf="signUpForm.submitted && mobile.errors">
    <label *ngIf="mobile.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="mobile.errors.pattern" class="validation-message">Invalid mobile Number</label>
  </div>

  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
    placeholder="Password" minlength="4" required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  <input type="submit" value="Sign Up">
</form>

<ng-template>
  <div class="form-group">
    <label for="mobile-Number">Phone Number</label>
    <input type="text" name="mobile-Number" [(ngModel)]="mobile-Number" class="form-control">
  </div>
  <button class="btn btn-primary btn-block">Send OTP</button>
  <hr>
  <div class="form-group">
    <label for="otp">Phone Number</label>
    <input type="text" name="otp" [(ngModel)]="otp"class="form-control">
  </div>
</ng-template>
<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>